* {
	padding: 0;
	border: 0;
	margin: 0;
	font-family: 'Microsoft YaHei','Heiti SC',simhei,'Lucida Sans Unicode','Myriad Pro','Hiragino Sans GB',Verdana;
}
body {
	background-color: #422456;
	position: relative;
}
.wrap {
	width: 100%;
	background: url("../images/bg.png") no-repeat;
	background-size: cover;
	padding-bottom: 50%;
}
.banner img {
	display: block;
	width: 80%;
	margin: 10% 0 0 20%;
}

.pics_wrap {
	width: 80%;
	min-height: 300px;
	padding: 5% 10%;
}
.pics {
	display: block;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
.pics img {
	display: block;
	width: 100%;
	margin: 0 auto;
	border: 1px solid #fd9d14;
} 
a.try {
	display: block;
	margin: 10% auto 0 auto;
	width: 45%;
	line-height: 2.5em;
	font-size: 2.5em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border-radius: 8px;
	background: #e6297a;
}

.icon {
	display: block;
	width: 40%;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -3%;
}